<div class="block">
	<section class="hero">
		<div class="hero-body color4">
			<h1 class="title is-size-2 is-size-3-desktop has-text-centered">Contact</p>
		</div>
	</section>
</div>
<div class="column is-desktop">
	<div class="columns">
		<div class="column">
			<div class="block">
				<input class="input is-large" type="text is-rounded" name="name" placeholder="First Name">
			</div>
		</div>
		<div class="column">
			<div class="block">
				<input class="input is-large" type="text is-rounded" name="name" placeholder="Last Name">
			</div>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<div class="block">
				<input class="input is-large" type="text is-rounded" name="name" placeholder="Email">
			</div>
		</div>
		<div class="column">
			<div class="block">
				<input class="input is-large" type="text is-rounded" name="name" placeholder="Country">
			</div>
		</div>
	</div>
	<div class="block">
		<input class="input is-large" type="text is-rounded" name="name" placeholder="Subject">
	</div>
	<div class="block">
		<textarea class="textarea is-large" placeholder="Message"></textarea>
	</div>
</div>
