<form method="POST" action="{{ url_for('submit_contact_form') }}">
	{{ form.hidden_tag() }}
	<div class="block">
		<section class="hero">
			<div class="hero-body color4">
				<h1 class="title is-size-2 is-size-3-desktop has-text-centered">Contact</p>
			</div>
		</section>
	</div>
	<div class="column is-desktop">
		<div class="columns">
			<div class="column">
				<div class="block">
					{{ form.first_name(class_="input is-large", id="first_name", placeholder="Name") }}
				</div>
			</div>
			<div class="column">
				<div class="block">
					{{ form.last_name(class_="input is-large", id="last_name", placeholder="Last Name") }}
				</div>
			</div>
		</div>
		<div class="columns is-desktop">
			<div class="column">
				<div class="block">
					{{ form.email(class_="input is-large", id="email", placeholder="Email") }}
				</div>
			</div>
			<div class="column">
				<div class="block">
					{{ form.country(class_="input is-large", id="country", placeholder="Country") }}
				</div>
			</div>
		</div>
		<div class="block">
			{{ form.subject(class_="input is-large", id="subject", placeholder="Subject") }}
		</div>
		<div class="block">
			{{ form.message(class_="textarea is-large", id="message", placeholder="Message") }}
		</div>
		<div class="block">
			<button class="button is-large is-fullwidth is-rounded color4" type="submit">Submit</button>
		</div>
	</div>
</form>
