<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column is-6">
				<div class="section has-text-centered">
					<p class="title is-5">Created by Pedro <b>'Dopeldev'</b> Gonzales @ 2023</p>
					<p class="subtitle is-6">Powered by Flask and Bulma.</p>
				</div>
			</div>
			<div class="column is-4">
				<div class="section has-text-centered">
					<h2 class="title is-5">Contacts</h2>
					<p>
					<a href="mailto:gonzales@dopeldev.com">
						<span class="icon is-large">
							<i class="fas fa-envelope fa-2xl"></i>
						</span>
					</a>
					<a href="https://github.com/dopelDev" target="_blank" rel="noopener">
						<span class="icon is-large">
							<i class="fab fa-github fa-2xl"></i>
						</span>
					</a>
					</p>
				</div>
			</div>
</footer>
