<div class="columns color4">
	<div class="column is-4">
		<a href="#">
			<h1 class="subtitle is-4 has-text-centered">about</h1>
		</a>
	</div>
	<div class="column">
		<a href="#">
			<h1 class="subtitle is-4 has-text-centered">home</h1>
		</a>
	</div>
	<div class="column">
		<a href="#">
			<h1 class="subtitle is-4 has-text-centered">contact</h1>
		</a>
	</div>
</div>
<div class="hero-body">
	<div class="columns color4">
		<div class="column is-2">
			<figure class="image is-128x128">
				<img class="is-rounded" src="{{ url_for('static', filename='img/pic128.webp') }}" alt="Profile picture of Pedro 'dopeldev' Gonzales">
			</figure>
		</div>
		<div class="column auto">
			<h1 class="title is-2">Pedro "Dopeldev" Gonzales</h1>
			<p class="subtitle is-4">Software Developer</p>
		</div>
	</div>
</div>
