<link href="{{ url_for('static', filename='css/bulma-rtl.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma-rtl.css.map') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma-rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.css.map') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/60d965b2a6.js" crossorigin="anonymous"></script>
