<meta charset="UTF-8">
<meta name="description" content="Pedro Dopeldev gonzales CV at software developer">
<meta name="keywords" content="CV, Dopeldev, Software developer, Flask, Django, Docker, Linux environment">
<meta name="author" content="Pedro Dopeldev Gonzales">
<meta name="google-site-verification" content="5ZU0nJFq3C_N2YpnJWzayt880kwse-WOjfyBZ3KN610" />
<meta name="csrf-token" content="{{ csrf_token() }}">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

