<meta charset="UTF-8">
<meta name="description" content="Pedro Dopeldev gonzales CV at software developer">
<meta name="keywords" content="CV, Dopeldev, Software developer, Flask, Django, Docker, Linux environment">
<meta name="author" content="Pedro Dopeldev Gonzales">
<meta name="google-site-verification" content="5ZU0nJFq3C_N2YpnJWzayt880kwse-WOjfyBZ3KN610" />
<link href="{{ url_for('static', filename='css/bulma-rtl.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma-rtl.css.map') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma-rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.css.map') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/bulma.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/60d965b2a6.js" crossorigin="anonymous"></script>
