<div class="hero">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="languages">Languages</p>
	</div>
</div>
<section class="section font-main">
	<div class="columns is-desktop">
		<div class="column">
			<div class="message is-dark">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Spanish (Native)</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="message is-dark">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">English (Intermediate)</p>
				</div>
			</div>
		</div>
	</div>
