<div class="columns is-desktop">
	<div class="column">
		<article class="message is-link">
			<div class="message-header">
				<p class="is-size-6">Summary</p>
			</div>
			<div class="message-body">
				<p class="has-text-centered is-size-6">I am a versatile software developer with an expansive background in
				software engineering. I specialize in every phase of software
				development, my expertise ranges from design and planning to development
				and deployment, crafting solutions that effectively respond to business
				requirements.</p>
			</div>
		</article>
	</div>
	<div class="column">
		<article class="message is-info">
			<div class="message-header">
				<p class="is-size-6">Technologies</p>
			</div>
			<div class="message-body">
				<p class="has-text-centered is-size-6">My strength lies in leveraging a suite of technologies and services
				to achieve these goals. On the back-end, I utilize Python for a variety of
				web development tasks and ETL processes, and effectively manage
				workflows with Airflow. I also exhibit proficiency in a range of
				frameworks like Flask, Django, and FastAPI. For front-end solutions, I
				employ HTML/CSS/JavaScript, Bootstrap, and Bulma to design responsive
				and intuitive user interfaces.</p>
			</div>
	</div>
	<div class="column">
		<article class="message is-link">
			<div class="message-header">
				<p class="is-size-6 ">Architecture</p>
			</div>
			<div class="message-body">
				<p class="has-text-centered is-size-6">In system management, I excel in operating Linux environments and
				managing Infrastructure as a Service (IaaS) using Linode, as well as
				deploying serverless services on Google Cloud, Microsoft Azure, and
				Heroku. My expertise extends to managing DNS settings for service
				infrastructure and handling SQL and NoSQL databases like MySQL,
				PostgreSQL, and MongoDB.</p>
			</div>
		</article>
	</div>
</div>
<div class="columns">
	<div class="column">
		<article class="message is-warning">
			<div class="message-body">
				<p class="has-text-centered is-size-6">Additionally, I am adept at setting up and managing various open-source
				services including Nextcloud, Rocket.Chat, Jitsi Meet, Postfix
				with Dovecot, and CoTURN.</p>
			</div>
		</article>
	</div>
	<div class="column">
		<article class="message is-warning">
			<div class="message-body">
				<p class="has-text-centered is-size-6">By harmoniously integrating these technologies, I am able to deliver
				robust and efficient services, always aiming for high-quality
				deliverables and timely project completion.</p>
			</div>
		</article>
	</div>
</div>

