<div class="hero font-main">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="skills">Skills</p>
		<p class="subtitle is-3 has-text-centered" id="system-management">System Management</p>
	</div>
</div>
<section class="section font-main">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Linux Environments:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in managing and configuring Linux systems for optimal
					performance.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Self-managed infrastructure with Linode:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in managing and deploying applications on Linode’s cloud
					platform.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Serverless Services with Google Cloud, Microsoft Azure, and Heroku:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in utilizing serverless computing to build and run
					applications.</p>
				</div>
			</article>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-success">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">DNS Configuration for Service Infrastructure:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Experienced in managing DNS settings for robust service
					infrastructure.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-warning">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">SQL and NoSQL Databases:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in handling SQL and NoSQL databases like MySQL, PostgreSQL,
					and MongoDB.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-dark">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Open Source Services:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in setting up and managing various open-source services
					including Nextcloud, Rocket.Chat, Jitsi Meet, Postfix with Dovecot,
					and CoTURN.</p>
				</div>
			</article>
		</div>
	</div>
</section>

