<div class="block">
	<section class="hero">
		<div class="hero-body color4">
			<p class="title is-2 is-size-3-desktop has-text-centered color4">Education</p>
		</div>
	</section>
</div>
<div class="columns is-desktop">
	<div class="column">
		<article class="message">
			<div class="message-body">
				<p class="has-text-centered is-size-3 is-size-6-desktop">Software Engineering, UPC University, Peru.</p>
			</div>
		</article>
	</div>
	<div class="column">
		<article class="message">
			<div class="message-body">
				<p class="has-text-centered is-size-3 is-size-6-desktop">Software Engineering, UTP University, Peru.</p>
			</div>
		</article>
	</div>
</div>
