<div class="hero font-main">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="backend">Back-End</p>
	</div>
</div>
<section class="section font-main">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Python for Web Development and ETL Data Extraction Automation:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Utilize Python for diverse web development tasks and efficient ETL
					processes.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Workflow Management with Airflow:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Capable of managing complex workflows using Airflow.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Apache2 for PHP Backend:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in using Apache2 for setting up and managing PHP
					backends.</p>
				</div>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-success">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Nginx as a Reverse Proxy:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in implementing Nginx as a reverse proxy for increased
					performance and security.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-warning">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">SSL Certificates Creation with Certbot:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Capable of managing the SSL certificate lifecycle using Certbot.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-dark">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Gunicorn:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Experienced in running Python web applications using the Gunicorn
					HTTP server.</p>
				</div>
			</article>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Redis:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in utilizing Redis for caching, messaging, and
					other database operations.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Flask/Django/FastAPI:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in developing backend services using Flask, Django,
					and FastAPI.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Docker & Docker Compose:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">
					Proficient in deploying containers with Docker for streamlined development.
					Experienced in running multi-container apps with Docker Compose.
					</p>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="hero font-main">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="front-end">Front-End</p>
	</div>
</div>
<section class="section font-main">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">HTML/CSS/JavaScript:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Solid understanding of these fundamental front-end technologies
					for creating interactive web pages.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Bulma:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">A modern, responsive CSS framework that's highly
					customizable, with a clean syntax, facilitating efficient web design
					across all devices.</p>
				</div>
			</article>
		</div>
	</div>

	</div>
</section>

