<div class="hero font-main">
	<h1 class="title is-2 has-text-centered">Education</h1>
</div>
<section class="section">
	<div class="columns">
		<div class="column">
			<article class="message">
				<div class="message-body">
					<p class="has-text-centered is-size-6">Software Engineering, UPC University, Peru.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message">
				<div class="message-body">
					<p class="has-text-centered is-size-6">Software Engineering, UTP University, Peru.</p>
				</div>
			</article>
		</div>
	</div>
</section>
