<h1 class="title is-1 pt-4 pb-4 has-text-centered" id="professional-summary">Professional Summary</h1>
<div class="columns is-desktop">
	<div class="column">
		<p class="has-text-centered is-size-2 is-size-6-desktop">I am a versatile software developer with an expansive background in
		software engineering. Specializing in every phase of software
		development, my expertise ranges from design and planning to development
		and deployment, crafting solutions that effectively respond to business
		requirements.</p>
	</div>
	<div class="column">
		<p class="has-text-centered is-size-2 is-size-6-desktop">My strength lies in leveraging a suite of technologies and services
		to achieve these goals. On the back-end, I utilize Python for diverse
		web development tasks and ETL processes, and effectively manage
		workflows with Airflow. I also exhibit proficiency in a range of
		frameworks like Flask, Django, and FastAPI. For front-end solutions, I
		employ HTML/CSS/JavaScript, Bootstrap, and Bulma to design responsive
		and intuitive user interfaces.</p>
	</div>
	<div class="column">
		<p class="has-text-centered is-size-2 is-size-6-desktop">In system management, I excel in operating Linux environments and
		managing Infrastructure as a Service (IaaS) using Linode, as well as
		deploying serverless services on Google Cloud, Microsoft Azure, and
		Heroku. My expertise extends to managing DNS settings for service
		infrastructure, and handling SQL and NoSQL databases like MySQL,
		PostgreSQL, and MongoDB.</p>
	</div>
</div>
<div class="columns is-desktop">
	<div class="column">
		<p class="has-text-centered is-size-2 is-size-6-desktop">Additionally, I am adept at setting up and managing various open
		source services including Nextcloud, Rocket.Chat, Jitsi Meet, Postfix
		with Dovecot, and CoTURN.</p>
	</div>
	<div class="column">
		<p class="has-text-centered is-size-2 is-size-6-desktop">By harmoniously integrating these technologies, I am able to deliver
		robust and efficient services, always aiming for high-quality
		deliverables and timely project completion.</p>
	</div>
</div>
<h1 class="title is-2 has-text-centered" id="education">Education</h1>
<ul class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Software Engineering, UPC, Peru.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Software Engineering, UTP University, Peru.</li>
</ul>
<h1 class="title is-2 has-text-centered" id="skills">Skills</h1>
<h2 class="subtitle is-2 has-text-centered" id="system-management">System Management</h2>
<div class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Linux Environments: Proficient in managing and configuring Linux
		systems for optimal performance.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Infrastructure as a Service (IaaS) with Linode: Skilled in managing
		and deploying applications on Linode’s cloud platform.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Serverless Services with Google Cloud, Microsoft Azure, and Heroku:
		Proficient in utilizing serverless computing to build and run
		applications.</li>
	</div>
	<div class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">DNS Configuration for Service Infrastructure: Experienced in
		managing DNS settings for robust service infrastructure.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Databases: Familiarity with SQL and NoSQL databases like MySQL,
		PostgreSQL, MongoDB, and others.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Open Source Services: Skilled in setting up and managing various
		open source services including Nextcloud, Rocket.Chat, Jitsi Meet,
		Postfix with Dovecot, and CoTURN.</li>
</div>
<h2 class="subtitle is-2 has-text-centered" id="back-end">Back-End</h2>
<div class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Python for Web Development and ETL Data Extraction Automation:
		Utilize Python for diverse web development tasks and efficient ETL
		processes.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Workflow Management with Airflow: Capable of managing complex
		workflows using Airflow.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Apache2 for PHP Backend: Proficient in using Apache2 for setting up
		and managing PHP backends.</li>
	</div>
	<div class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Nginx as a Reverse Proxy: Skilled in implementing Nginx as a reverse
		proxy for increased performance and security.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">SSL Certificates Creation with Certbot: Capable of managing the SSL
		certificate lifecycle using Certbot.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Gunicorn: Experienced in running Python web applications using the
		Gunicorn HTTP server.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Redis: Proficient in utilizing Redis for caching, messaging, and
		other database operations.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Flask/Django/FastAPI: Proficient in developing backend services
		using Flask, Django, and FastAPI.</li>
</div>
<h2 class="subtitle is-2 has-text-centered" id="front-end">Front-End</h2>
<ul class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">HTML/CSS/JavaScript: Solid understanding of these fundamental
		front-end technologies for creating interactive web pages.</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Bulma: is a modern, responsive CSS framework. It’s highly
		customizable, with a clean syntax, facilitating efficient web design
		across all devices.</li>
</ul>
<h2 class="subtitle is-2 has-text-centered" id="languages">Languages</h2>
<ul class="columns is-desktop">
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Spanish (Native)</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">English (Intermediate)</li>
	<li class="column has-text-centered is-size-2 is-size-6-desktop">Portuguese (Advanced)</li>
</ul>
