<section class="section">
	<div class="card-content">
		<div class="media">
			<div class="media-left">
				<figure class="image is-128x128">
					<img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-2 is-size-4-desktop">Pedro "Dopeldev" Gonzales</p>
				<p class="subtitle is-3 is-size-6-desktop">gonzales@dopeldev.com</p>
			</div>
		</div>
</section>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Summary</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">I am a versatile software developer with an expansive background in
					software engineering. Specializing in every phase of software
					development, my expertise ranges from design and planning to development
					and deployment, crafting solutions that effectively respond to business
					requirements.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Tecnologies</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">My strength lies in leveraging a suite of technologies and services
					to achieve these goals. On the back-end, I utilize Python for diverse
					web development tasks and ETL processes, and effectively manage
					workflows with Airflow. I also exhibit proficiency in a range of
					frameworks like Flask, Django, and FastAPI. For front-end solutions, I
					employ HTML/CSS/JavaScript, Bootstrap, and Bulma to design responsive
					and intuitive user interfaces.</p>
				</div>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Arquitecture</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">In system management, I excel in operating Linux environments and
					managing Infrastructure as a Service (IaaS) using Linode, as well as
					deploying serverless services on Google Cloud, Microsoft Azure, and
					Heroku. My expertise extends to managing DNS settings for service
					infrastructure, and handling SQL and NoSQL databases like MySQL,
					PostgreSQL, and MongoDB.</p>
				</div>
			</article>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-warning">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Additionally, I am adept at setting up and managing various open
					source services including Nextcloud, Rocket.Chat, Jitsi Meet, Postfix
					with Dovecot, and CoTURN.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-warning">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">By harmoniously integrating these technologies, I am able to deliver
					robust and efficient services, always aiming for high-quality
					deliverables and timely project completion.</p>
				</div>
			</article>
		</div>
	</div>

</section>

<div class="hero">
	<div class="hero-body">
		<h1 class="title is-2 has-text-centered" id="education">Education</h1>
	</div>
</div>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Software Engineering, UPC University, Peru.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Software Engineering, UTP University, Peru.</p>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="hero">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="skills">Skills</p>
		<p class="subtitle is-3 has-text-centered" id="system-management">System Management</p>
	</div>
</div>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Linux Environments:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in managing and configuring Linux systems for optimal
					performance.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Self-managed infrastructure with Linode:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in managing and deploying applications on Linode’s cloud
					platform.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Serverless Services with Google Cloud, Microsoft Azure, and Heroku:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in utilizing serverless computing to build and run
					applications.</p>
				</div>
			</article>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-success">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">DNS Configuration for Service Infrastructure:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Experienced in managing DNS settings for robust service
					infrastructure.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-warning">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">SQL and NoSQL Databases:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in handling SQL and NoSQL databases like MySQL, PostgreSQL,
					and MongoDB.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-dark">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Open Source Services:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in setting up and managing various open source services
					including Nextcloud, Rocket.Chat, Jitsi Meet, Postfix with Dovecot,
					and CoTURN.</p>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="hero">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="backend">Back-End</p>
	</div>
</div>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Python for Web Development and ETL Data Extraction Automation:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Utilize Python for diverse web development tasks and efficient ETL
					processes.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Workflow Management with Airflow:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Capable of managing complex workflows using Airflow.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-info">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Apache2 for PHP Backend:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in using Apache2 for setting up and managing PHP
					backends.</p>
				</div>
		</div>
	</div>
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-success">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Nginx as a Reverse Proxy:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Skilled in implementing Nginx as a reverse proxy for increased
					performance and security.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-warning">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">SSL Certificates Creation with Certbot:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Capable of managing the SSL certificate lifecycle using Certbot.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-dark">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Gunicorn:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Experienced in running Python web applications using the Gunicorn
					HTTP server.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Redis:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in utilizing Redis for caching, messaging, and
					other database operations.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Flask/Django/FastAPI:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Proficient in developing backend services using Flask, Django,
					and FastAPI.</p>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="hero">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="front-end">Front-End</p>
	</div>
</div>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<article class="message is-primary">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">HTML/CSS/JavaScript:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Solid understanding of these fundamental front-end technologies
					for creating interactive web pages.</p>
				</div>
			</article>
		</div>
		<div class="column">
			<article class="message is-link">
				<div class="message-header">
					<p class="is-size-2 is-size-6-desktop">Bulma:</p>
				</div>
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">is a modern, responsive CSS framework. It’s highly
					customizable, with a clean syntax, facilitating efficient web design
					across all devices.</p>
				</div>
			</article>
		</div>
	</div>
</section>
<div class="hero">
	<div class="hero-body">
		<p class="title is-2 has-text-centered" id="languages">Languages</p>
	</div>
</div>
<section class="section">
	<div class="columns is-desktop">
		<div class="column">
			<div class="message is-dark">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Spanish (Native)</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="message is-dark">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">English (Intermediate)</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="message is-dark">
				<div class="message-body">
					<p class="has-text-centered is-size-2 is-size-6-desktop">Portuguese (Intermediate)</p>
				</div>
			</div>
		</div>
	</div>
</section>

