<section class="section font-main">
	<section class="hero">
		{% include 'includes/head.html' %}
	</section>
	<section class="section">
		<section class="section">
			{% include 'includes/section1.html' %}
		</section>
		<section class="section">
			{% include 'includes/section2.html' %}
		</section>
		<section class="section">
			{% include 'includes/section3.html' %}
		</section>
		<section class="section">
			{% include 'includes/section4.html' %}
		</section>
		<section class="section">
			{% include 'includes/section4.html' %}
		</section>
	</section>
</section>
